# gitignore protects the important files we don't want to push GitHub.

# Terraform local files
# Downloaded Terraform provider files
.terraform/     
*.tfstate
*.tfstate.*     
.terraform.tfstate.lock.info

# Terraform variable files may contain secrets
*.tfvars
*.tfvars.json

# Terraform plan files
*.tfplan
